<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

  <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.baseHref %>main.css">

  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <h1>Welcome to the webpack boilerplate!</h1>

  <p>Have some fun!</p>

  <script src="<%= htmlWebpackPlugin.options.baseHref %>bundle.js"></script>
</body>
</html>
